@import '../styles/variables.scss';

.site-title {
  text-decoration: none;
  color: $text-color;
  font-size: 6rem;
  line-height: 1em;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: $text-color;
  }
}

.navigation {
  ul {
    margin: 0;
    li {
      display: inline-block;
      a {
        color: $text-color;
        line-height: 1em;
        background-color: transparent;
        border-radius: 1em;
        padding: 0.5em 1em;
        transition: all 0.5s;
        &:hover {
            text-decoration: none;
            color: $grey-color-light;
            background-color: $grey-color;
        }
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 0.5em;
        }
      }
    }
  }
}