@import '../styles/variables.scss';

.resume {
  position: relative;
  font-family: Garamond;
  color: $grey-color-dark;
  text-align: center;
  @media screen {
    box-shadow: $grey-color 2px 2px 5px;
    width: 80%;
    max-width: 800px;
    margin: 2.5% auto;
    padding: 2.5% 3.5%;
    background: white;
  }
  @media print {
    font-size: 12px;
    width: 100%;

    h1, h2, h3, h4, h5 {
      page-break-after: avoid;
    }
    section, table, figure {
      page-break-inside: avoid;
    }
  }
}

.hidden {
  display: none !important;
}

section {
  h2 {
    font-variant: small-caps;
    text-decoration: underline;
    margin-bottom: 0.25rem;
  }
}

article.experience {
  position: relative;
  margin-bottom: 1rem;
  p {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  span {
    display: inline-block;
    &.organization {
      font-size: 1.15rem;
      font-weight: bold;
      em {
        font-weight: normal;
      }
    }
    &.location {
      font-size: 1rem;
    }
    &.title {
      font-size: 1rem;
      font-style: italic;
    }
    &.time-period {
      font-size: 0.85rem;
    }
  }
  > ul {
    margin: 0.25rem 0 0.5rem;
    padding-left: 1.5rem;
    padding-right: 7.5rem;
    text-align: left;
    &.comma-list {
      display: inline;
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      > li {
        display: inline;
        &::after {
          content: ", ";
        }
        &:last-child::after {
          content: "";
        }
      }
    }
  }
}

.other-experience {
  display: flex;
  .education {
    width: 65%;
    .experience {
      display: flex;
      .left {
        width: 60%;
      }
      .right {
        width: 40%;
      }
    }
    .institution {
      font-size: 1rem;
      font-weight: 500;
    }
    .degree-focus {
      font-size: 0.85rem;
    }
  }
  .skills {
    width: 35%;
  }
}

// Print Page

@page {
  size: 8.5in 11in;
  margin: 0.7in 1in;

  background: white;
}